*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  height: 100vh;
  background: url(./catalog-img/fon.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.settings{
  position: absolute;
  z-index: 6;
  bottom: 0;
  right: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: url(./catalog-img/settings.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 10px;
  cursor: pointer;
}
.settings.active{
  animation-name: rotation;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.settings:hover{
  animation-name: rotation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes rotation {
  0% {
      transform:rotate(0deg);
  }
  100% {
      transform:rotate(360deg);
  }
}

/* ----------modal settings-------------- */
.wrapper-modal{
display: block;
z-index: 5;
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: rgb(10 10 10 / 20%);
}

.wrapper-modal.active{
  display: none;
}

.wrapper-modal__settings{
  position: absolute;
  bottom: 60px;
  right: 0;
  width: 180px;
  height: 250px;
  background: rgba(141, 138, 138, 0.25);
  /* background: url(./catalog-img/settingsfon.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
  margin-right: 10px;
  border-radius: 25px;
  /* opacity: 0.7; */
}


/* ----------player-------------- */
.box-player-wrapper{
  margin: 10px;
}
.box-player{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.volume-box{
  display: flex;
  align-items: center;
}
.img-play-pause{
width: 30px;
height: 30px;
cursor: pointer;
}

.reg-volume{
  width: 40px;
  height: 40px;
}

.volmue{
  width: 60px;
  height: 5px;
  margin-right: 5px;
  cursor: pointer;
}

/*-----кнопки состояния*/
        .switch-btn {
            display: inline-block;
            width: 42px;
            height: 22px; 
            border-radius: 19px; 
            background: linear-gradient(to right, #535252 0, #bfbfbf 40%, #7fd03e 60%, #118c4e 100%);
            background-size: 180px 100%;
            z-index: 0;
            margin: 0;
            padding: 0;
            border: none;
            cursor: pointer;
            position: relative;
            transition-duration: 300ms; 
        }
        .switch-btn::after {
            content: "";
            height: 16px; 
            width: 16px; 
            border-radius: 17px;
            background: #fff; 
            top: 3px; 
            left: 3px; 
            transition-duration: 300ms; 
            position: absolute;
            z-index: 1;
        }
        .switch-on {
            background-position-x: -100px;
        }
        .switch-on::after {
            left: 22px;
        }

        .settings-one,
        .settings-two,
        .settings-three{
          display: flex;
          align-items: center;
          color: #fff;
          margin: 5px 10px;
        }

        .settings-text{
          margin-right: 10px;
        }

/*----------------------разметка для подсказок-------------------*/
/* .help-fon{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
.fon-heart img{
  width: 25px;
  height: 25px;
}

.fon-enemy img{
  width: 60px;
}

.fon-player img{
  width: 50%;
  display: inline;
}
.fon-heart,
.fon-enemy,
.fon-player{
  position: absolute;
}

.fon-heart{
  top: 0;
  right: 0;
  margin: 7px;
}

.fon-enemy{
  top: 200px;
  right: 150px;
  margin: 7px;
}

.fon-player{
  left: 0;
  top: 25%;
  margin: 7px;
}

.fon-player-text{
  display: table;
border: 1px solid #fff;
border-radius: 5px;
background: #fff;
}

.fon-settings{
  position: absolute;
  bottom: 60px;
  right: 100px;
  border: 1px solid #fff;
  border-radius: 5px;
  background: #fff;
}


    table.help-block{
      position: absolute;
      top: 0;
      left: 0;
      z-index: 15;
      width: 100%;
      height: 100vh;
      border-collapse:collapse;
      border-spacing:0;
    }
  

    table.help-block th {
      color: #fff; 
      font-weight: normal;
    }

    table.help-block div{
      background: rgb(0, 0, 0, 0.8);
    }

    table.help-block div.help-player{
      background: none;
    }

    table.help-block div.help-player{
      border: 1px solid none;
    } */




/*----------------------попытка 100-------------------*/

.wrapper-blok-help,
.wrapper-blok-help-copy{
  display: flex;
  width: 100%;
  height: 100%;
}

.colum-block{
  display: flex;
  flex-direction: column;
  width: 25%;
  height: 100%;
}

.colum-block3{
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 100%;
}
.colum-block4{
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 100%;
}

.col{
  border: 1px solid #fff;
  width: 100%;
  height: 25%;
}

.col1-2{
  height: 50%;
}
.col1-3{
  height: 0%;
}

.img-heart img{
  width: 25px;
  height: 25px;
  float: right;
  margin: 3px;
}

.fon-text{
  background: #fff;
  border: 1px solid #fff;
  border-radius: 10px;
  padding: 5px;
}

.wrapper-blok-help-copy{
  position: absolute;
  top: 0;
  left: 0;
}

.col-copy{
  background: rgb(0, 0, 0, 0.5);
}
